#folders
openaddr-collected-europe/
dutch_energy/
__pycache__/

#filetypes
*.exe
*.zip
*.html


#files
Adressen en coordinaten NL.csv
data_energy_geo.csv
Testen Kaart.ipynb
Testen Kaart-checkpoint.ipynb