#folders
openaddr-collected-europe/
dutch_energy/
__pycache__/
gadm36_NLD_shp/
National_Map_Interactive/
.ipynb_checkpoints/
CBS/

#filetypes
*.exe
*.zip



#files
Adressen en coordinaten NL.csv
data_energy_geo.csv
Testen Kaart.ipynb
Testen Kaart-checkpoint.ipynb
Clean_CBS - Age (2008-2018).csv
Clean_CBS - Household_composition (2008-2018).csv
Clean_CBS - Immigration (2008-2018).csv
Clean_CBS - Position_household (2008-2018).csv