#folders
openaddr-collected-europe/
dutch_energy/
__pycache__/
gadm36_NLD_shp/
National_Map_Interactive/

#filetypes
*.exe
*.zip



#files
Adressen en coordinaten NL.csv
data_energy_geo.csv
Testen Kaart.ipynb
Testen Kaart-checkpoint.ipynb